[data-md-color-scheme="mesbg"] {
  --md-primary-fg-color:        #0B3D20;
  --md-accent-fg-color:    #C0C0C0;
}

.md-grid {
  max-width: 65rem;
}

.md-typeset table:not([class]) th {
  min-width: 0rem;
 }